# === Operating Systems ===
# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~

# === IDEs and Editors ===
# JetBrains (IntelliJ IDEA, PyCharm, WebStorm, etc.)
.idea/
*.iml

# Visual Studio Code
.vscode/
*.code-workspace

# Sublime Text
*.sublime-project
*.sublime-workspace

# Vim
*.swp
*.swo
*.swn

# Emacs
\#*\#
.*.elc
/auto-save-list/

# === Python ===
# Cache and temporary files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
env/
.venv/
pip-wheel-metadata/
*.egg-info/
dist/
build/
develop-eggs/
eggs/
parts/
sdist/
var/
*.egg
*.egg-link

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Test and log files
.coverage
.tox/
.nox/
.pytest_cache/
htmlcov/
.coverage.*
.cache
nosetests.xml
coverage.xml

# Dependency files
requirements.txt.lock
Pipfile.lock
poetry.lock

# Local configurations
.local/
.env
.flaskenv
.secret
.env.*

# === Other ===
# Binary files
*.log
*.sqlite3
*.db
*.dat
*.bin
*.bak
*.tmp

# Archives
*.zip
*.tar.gz
*.rar

# System files
.sass-cache/
node_modules/